* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  width: 100vw;

  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#animes-container{
    max-height: 50%;
    overflow-y: auto;
    padding: 15px;
}
#seasons-container{
    width: 500px;
    max-height: 50%;
    overflow-y: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 15px;
}

.anime{
    text-align: center;
    margin-top: 2%;
    background-color: white;
    font-family: Arial, sans-serif;
    color: black;
    width: 250px;
    border-radius: 8px;
    padding: 1%;
}
.anime:hover{
    scale: 1.05;
    cursor: pointer;
}

.season{
    text-align: center;
    margin-top: 2%;
    background-color: white;
    font-family: Arial, sans-serif;
    color: black;
    width: 100px;
    border-radius: 8px;
    padding: 1%;
}

.season:hover{
    scale: 1.05;
    cursor: pointer;
}

#live-form {
  justify-content: center;
  align-items: center;
  background: #020617;
  padding: 20px;
  border-radius: 12px;
}

#live-input {
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  outline: none;
  width: 250px;
}
